USE [master]
GO
/****** Object:  Database [Proxit]    Script Date: 04/18/2012 01:26:04 ******/
CREATE DATABASE [Proxit] ON  PRIMARY 
( NAME = N'Proxit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Proxit.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Proxit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Proxit_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proxit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proxit]
GO
/****** Object:  Table [dbo].[Ticket_items]    Script Date: 04/18/2012 01:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ticketid] [int] NOT NULL,
	[timestamp] [datetime2](7) NOT NULL,
	[productid] [int] NULL,
	[dienstid] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productenlijst]    Script Date: 04/18/2012 01:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Productenlijst](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[typeid] [int] NOT NULL,
	[serienummer] [varchar](100) NULL,
	[inkoopdatum] [date] NULL,
	[verkoopdatum] [date] NULL,
	[verkoopprijs] [float] NULL,
	[inkoopprijs] [float] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Producten]    Script Date: 04/18/2012 01:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producten](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productnaam] [nchar](10) NOT NULL,
	[btwtarief] [nchar](10) NOT NULL,
	[verkoopprijs] [nchar](10) NOT NULL,
	[garantietermijn] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klanten]    Script Date: 04/18/2012 01:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Klanten](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[voornaam] [varchar](100) NULL,
	[achternaam] [varchar](100) NULL,
	[bedrijf] [varchar](100) NULL,
	[straat] [varchar](100) NULL,
	[nummer] [varchar](5) NULL,
	[postcode] [varchar](8) NULL,
	[gemeente] [varchar](100) NULL,
	[land] [varchar](50) NULL,
	[telefoonnummer] [varchar](15) NULL,
	[email] [varchar](100) NULL,
 CONSTRAINT [PK_Klanten] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Gebruikers]    Script Date: 04/18/2012 01:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Gebruikers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[wachtwoord] [varchar](max) NOT NULL,
	[emailadres] [nvarchar](150) NOT NULL,
	[voornaam] [nvarchar](50) NULL,
	[achternaam] [nvarchar](50) NULL,
	[telefoon] [nchar](15) NULL,
	[token] [nchar](20) NULL,
 CONSTRAINT [PK_Gebruikers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Diensten_tijden]    Script Date: 04/18/2012 01:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Diensten_tijden](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dienstid] [int] NOT NULL,
	[omschrijving] [varchar](255) NULL,
	[looptijd] [int] NOT NULL,
	[standaardprijs] [float] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Diensten_klanten]    Script Date: 04/18/2012 01:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diensten_klanten](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[klantid] [int] NULL,
	[dienst_tijd_id] [int] NULL,
	[prijs] [int] NULL,
	[vervaldatum] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diensten]    Script Date: 04/18/2012 01:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Diensten](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naam] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 04/18/2012 01:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[klantid] [int] NULL,
	[gebruikerid] [int] NULL,
	[datetime] [datetime2](7) NULL,
	[prioritair] [bit] NULL,
	[tickettype] [int] NOT NULL,
	[status] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Default [DF_Table_1_priority]    Script Date: 04/18/2012 01:26:06 ******/
ALTER TABLE [dbo].[Tickets] ADD  CONSTRAINT [DF_Table_1_priority]  DEFAULT ((0)) FOR [prioritair]
GO
/****** Object:  ForeignKey [FK_Tickets_Klanten]    Script Date: 04/18/2012 01:26:06 ******/
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Klanten] FOREIGN KEY([klantid])
REFERENCES [dbo].[Klanten] ([id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Klanten]
GO
